
@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,900');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


h1{
    font-family: "Montserrat-black", sans-serif;
    font-size: 3.3rem;
    line-height: 1.5;
    font-weight: 600;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-size: 1.7rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat-bold", sans-serif;
    font-size: 1.2rem;
}

.text {
    font-family: "Montserrat-black", sans-serif;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 2rem;
    color: black;
}

.wrapper{
   background-color: #f2f2f2;
}
 #title{
    background-color: #4d4646;
    color: white;
}

.container{
    padding: 3% 15%;
  }
  
  .col-lg-6{
    padding-top: 20%;
  }

.brand{
    max-width: 100%;
    height: auto;
    display: block;
    width: 280px;
    padding-left: 10%;
}

.nav-item{
  padding: 0 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-link{
    font-size: 1rem;
    font-family: "Montserrat-light", sans-serif;
    color: black;
}

.img{
    text-align: center;
    max-width: 100%;
    height: auto;
}

.pimg{
    max-width: 100%;
    height: auto;
    text-align: center;
}

#cta{
    padding: 7% 15%;
    background-color: #4d4646;
    color: white;
    text-align: center;
 }

 .txt{
    font-size: 1.4rem;
    font-weight: bold;
    font-family: "Montserrat-light", sans-serif;
    line-height: 1.5;
}

.atext {
    font-size: 1rem;
    font-weight: bold;
    font-family: "Montserrat-light", sans-serif;
    line-height: 1.5;

}